@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1200px;
  margin: 100px auto;
  text-align: center;
}
h1 {
  color: #004c86;
}
.chara_list {
  display: flex;
  gap: 10px;
  list-style: none;
  text-align: center;
  overflow: hidden;
}
.chara_list li {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.chara_list img {
  display: block;
  width: 400px;
}
.caption {
  opacity: 0;
  position: absolute;
  top: 399.98px;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #004c86c0;
  color: #fff;
  transition: all 0.5s;
}
h2 {
  margin-top: 145px;
  margin-bottom: 10px;
}
.chara_list li:hover .caption {
  opacity: 1;
  transform: translateY(-399.98px);
}
